@import "~material-design-lite/src/layout/layout";
@import "~material-design-lite/src/typography/typography";

@media only screen {
  body div#page {
    margin: 5vh auto 5vh auto;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }
}

@media only screen and (min-width: 737px) {
  header {
    margin: 96px;
  }
  article {
    margin: 0 96px 96px 96px;
  }
  .grid, .col {
    display: block;
  }
}

@media only screen and (max-width: 736px) {
  body div#page {
    margin: 2vh auto 2vh auto;
    max-width: 95%;
  }
  header {
    margin: 32px;
  }
  article {
    margin: 0 32px 32px 32px;
  }
}

@media only print {
  header {
    margin: 48px;
  }
  article {
    margin: 0 48px;
  }
}

body {
  background-color: #eee;
  div#page {
    background-color: #fff;
    max-width: 960px;
    width: 100%;
    header {
      background-color: #fff;
      div, h4 {
        margin: 0;
        text-align: right;
        a {
          color: #000;
          text-decoration: none;
        }
      }
    }
    article {
      h5 {
        text-transform: uppercase;
        border-bottom: 1px solid #888;
      }
      div.education, div.job {
        display: flex;
        flex-flow: row wrap;
        margin: 1em 0;
        padding: 0;
        .college, .employer {
          font-style: italic;
        }
        .major, .title, .timespan {
          font-weight: bold;
        }
        .timespan, .location {
          text-align: right;
        }
        & > div {
          flex: 1;
          flex-basis: 50%;
        }
      }
    }
  }
  .grid {
    display: table;
    width: 100%;
    .col {
      display: table-cell;
    }
  }
}